.dashboard-container {
  .card-container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
  }

  .card {
    flex: 1 1 50%;
    /* Grow/shrink, minimum width 30% */
    max-width: 80%;
    height: 100%;
    min-height: 80%;
    background-color: rgb(214, 246, 244);
    box-sizing: border-box;
  }
}
