<div class="home">
  <div class="header">Welcome to the Admin Dashboard</div>
  <div class="dashboard-container">
    <!-- Summary Cards -->
    <div class="flex flex-col lg:flex-row gap-4 pb-20">
      <mat-card class="flex-1 stat-card">
        <h2>{{ totalUsers }}</h2>
        <p>Total Users</p>
      </mat-card>

      <mat-card class="stat-card">
        <h2>{{ activeUsers }}</h2>
        <p>Active Users</p>
      </mat-card>

      <mat-card class="stat-card">
        <h2>{{ newUsers }}</h2>
        <p>New Signups</p>
      </mat-card>
    </div>

    <!-- Charts -->
    <div class="flex flex-col lg:flex-row gap-4">
      <apx-chart [series]="chartSeries" [chart]="chart" [title]="title" [xaxis]="xaxis">
      </apx-chart>
    </div>
  </div>
</div>
