<div class="dashboard-container">
  <nav>
    <div class="card-container" *ngFor="let item of menuListItems">
      <mat-card appearance="outlined" class="card" mat-list-item routerLink="{{ item.routerLink }}">
        <mat-card-header>
          <mat-card-title> {{ item.name }} </mat-card-title>
          <mat-card-subtitle>{{ item.subTitle }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions class="mat-card-actions">
          <button mat-button >
            <span class="text-white">
              Learn More
            </span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </nav>
</div>
