<div>
    <div class="row">
        <div class="card-container">
            <mat-card appearance="outlined" class="card" mat-list-item>
                <mat-card-header>
                  <mat-card-title> Total leaves Taken </mat-card-title>
                  <mat-card-subtitle>22</mat-card-subtitle>
                </mat-card-header>
                <!-- <mat-card-actions class="mat-card-actions">
                    <button mat-button>
                      <span class="text-white"> Learn More </span>
                    </button>
                  </mat-card-actions> -->
            </mat-card>
        </div>

        <div class="card-container">
            <mat-card appearance="outlined" class="card" mat-list-item>
                <mat-card-header>
                  <mat-card-title> Total leaves Taken </mat-card-title>
                  <mat-card-subtitle>22</mat-card-subtitle>
                </mat-card-header>
                <!-- <mat-card-actions class="mat-card-actions">
                    <button mat-button>
                      <span class="text-white"> Learn More </span>
                    </button>
                  </mat-card-actions> -->
            </mat-card>
        </div>
    </div>
</div>